<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <script src="/socket.io/socket.io.js"></script>
  <title>Hello, world!</title>
</head>

<body>
  <div class="container">
    <form action="/team" method="POST">
      <div class="form-group row">
        <label for="email" class="col-sm-2 col-form-label">Email address</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
      </div>

      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Team name</label>
        <div class="col-sm-10">
          <input type="text" name="name" class="form-control" id="name" placeholder="Team name">
        </div>
      </div> 

      <div class="form-group row">
        <label for="password" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
          <input type="password" name="password" class="form-control" id="password" placeholder="Password">
        </div>
      </div>

      <div class="form-group row">
        <label for="member1" class="col-sm-2 col-form-label">Member 1</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="member1" name="members" placeholder="Member 1">
        </div>
        <label for="member2" class="col-sm-2 col-sm-offset-2 col-form-label">Member 2</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="member2" name="members" placeholder="Member 2">
        </div>
      </div>
      <div class="form-group">

      </div>




      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>



  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>


</body>

</html>