<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <script src="/queuehandler/socket.io.js"></script>
    <script>



        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }

        function register_turn() {
            window.top.socket.emit("register_turn", { userName: getParameterByName('userName') });
        }

        function end_turn() {
            window.top.socket.emit("end_turn", { userName: getParameterByName('userName') });
        }


        // client-side
        window.top.myTurn = false;
        window.top.socket = io({
            path: '/queuehandler',
            query: {
                userName: getParameterByName('userName')
            }
        });

        window.top.socket.on('connect', () => {
            console.log("connection success!")
            document.getElementById('wait_message').hidden = true;
        });
        window.top.socket.on('update_ui', (data) => {
            // console.log("Update event has emitted!")
            // console.log(data)
            // show my turn message
            if(data.thisTurn && data.thisTurn.userName && data.thisTurn.userName === getParameterByName('userName')){
                document.getElementById('myturn_message').hidden = false;
                document.getElementById('register_message').hidden = true;
            }
            else{
                document.getElementById('myturn_message').hidden = true;
                document.getElementById('register_message').hidden = false;
            }
            
            if(!data.allQueue || data.allQueue.length===0 )
                return;
            var allEmployees = data.allQueue;
            var htmlContent = `
            <div class="alert alert-primary" role="alert">
                <h4 class="alert-heading">${data.allQueue[0]['userName']}</h4>
            </div>
            `;
            allEmployees.splice(0,1)
           
            
            for (var i = 0; i < allEmployees.length ; i++) {
                htmlContent += `<p> ${data.allQueue[i]['userName']} </p>  `;              
            }

            var queueContent = document.getElementById('queue')
            queueContent.innerHTML = htmlContent;

        });
    </script>
    <title>Hello, world!</title>
</head>

<body>
    <div class="container">
        <div id="wait_message" class="row justify-content-center">
            <div class="alert alert-dark" role="alert">
                Waiting for connect to server!
            </div>
        </div>
        <div id="register_message" hidden="true" class="row justify-content-center">
            <div class="alert alert-success" role="alert">
                Click to register turn to comit
                <button type="button" class="btn btn-success" onclick="register_turn()">Reigister</button>
            </div>
        </div>

        <div id="myturn_message" hidden="true" class="row justify-content-center">
            <div class="alert alert-primary" role="alert">
                This is your turn, please do comit code
                <button type="button" class="btn btn-primary" onclick="end_turn()">Finish</button>
            </div>
        </div>

        <!-- Columns are always 50% wide, on mobile and desktop -->

        <div id="content" class="row">

            <div class="col-6">
                <h3 style="text-align: center">Log</h3>
                <div id="log">

                </div>
            </div>
            <div class="col-6">
                <h3 style="text-align: center">Queue</h3>
                <div id="queue">
                    
                </div>
            </div>
        </div>
    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


</body>

</html>